.container-fluid{
    width: 100%;
}

.left, .right{
    width: 50%;
    float: left;
}

@media screen and (max-width:600px){
    .left, .right{
    width: 100%;
    position: absolute;
    }
    .left {
        z-index: 1;
    }
    .right img{
        filter: blur(10px);
    }
    .main{
        position: relative;
    }

}