@import url(../../grid-system.css);

.gray-color{
    background-color: gray;
    
}
.blue-color{
    /* background-color: rgb(17, 56, 233); */
}

nav{
    min-height: 100px;
}
ul.menu li{
    display: inline;
    margin: 10px;
    line-height: 100px;
    border-bottom: 2px solid red;
}

.card{
    border: 1px solid #efefef;
    font-size: 16px;
}